.apropos {
	background: $background-light;

	padding: 200px 0 100px 0;

	.para {
		padding-top: 2rem;
		color: $black;
		text-align: center;
		max-width: 55rem;
		margin: 0 auto;
		margin-bottom: 60px;
		z-index: 1;
		position: relative;
	}
}

.titre-apropos {
	text-align: center;
	z-index: 1;
	position: relative;
}

.entries {
	display: flex;
	flex-direction: column;
	align-items: center;

	min-height: 100%;
	position: relative;

	&::before {
		content: '';
		position: absolute;
		top: 50px;
		left: 50%;
		height: 100%;
		transform: translateX(-50%);
		width: 3px;
		background-color: $black;
	}
}

.entry {
	text-align: right;
	-webkit-box-shadow: 10px 12px 36px -9px rgba(173, 173, 173, 1);
	-moz-box-shadow: 10px 12px 36px -9px rgba(173, 173, 173, 1);
	box-shadow: 10px 12px 36px -9px rgba(173, 173, 173, 1);

	padding: 30px;
	border-radius: 16px;
	background-color: $dark-blue;
	color: white;
	width: 500px;

	transform: translate(-70%, 0);

	&:nth-child(2n) {
		text-align: left;
		transform: translate(70%, 0);

		.title {
			&:before {
				left: -6.5rem;
			}
		}
	}
}

.title {
	font-size: 1.3rem;
	font-weight: 600;
	margin-bottom: 0.5rem;
	position: relative;
	color: white;
	&:before {
		content: '';
		position: absolute;
		width: 0.5rem;
		height: 0.5rem;
		border: 4px solid $dark-blue;
		background-color: $aquamarine;
		border-radius: 100%;
		top: 50%;
		transform: translateY(-50%);
		right: -6.5rem;
		z-index: 1000;
	}
}

.job-title {
	color: white;
	font-size: 1rem;
}

.job-desc {
	color: $aquamarine;
	font-size: 0.8rem;
	margin-bottom: 1.5rem;
	margin-top: 5px;
}

.job-link {
	text-decoration: none;
	color: $black;
	transition: color 0.3s;
	&:visited {
		text-decoration: none;
		color: $black;
	}
	&:hover {
		color: $aquamarine;
	}
}

.cv {
	margin: 2rem auto;
	text-align: center;
	width: 100%;
	a {
		font-size: 1.5rem;
	}
}

// ----------------- MEDIA - QUERIES ----------- //

@media (max-width: 1024px) {
	.entry {
		width: 100%;
		transform: none;
		margin: 10px 0;
		width: 100%;
		max-width: none;
		text-align: left;

		&:nth-child(2n) {
			transform: none;
			margin: 10px 0;
			text-align: left;
		}
	}
	.entries {
		&::before {
			display: none;
		}
	}
	.title {
		&::before {
			display: none;
		}
	}
}

@media (max-width: 767px) {
	.apropos {
		padding: 150px 0;
	}
}
