.hero {
  background-color: $black;
  margin: 0 auto;
}
.accueil {
  padding: 10rem 2rem;
  max-width: 1000px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  margin: 0 auto;
}

.texte {
  width: 55%;
  z-index: 1;
}

.nom {
  color: $jaune;
  padding-top: 0;
}

// ---------------MEDIA-QUERIES -------------------//@at-root
@media (max-width: 767px) {
  .accueil {
    padding: 4rem 4rem 8rem 4rem;
    flex-direction: column;
    min-height: 400px;
  }
  .texte {
    width: 100%;
  }
}
