.hero {
  background-color: $dark-blue;
  margin: 0 auto;
}
.accueil {
  padding: 10rem 0;
  max-width: 1300px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  margin: 0 auto;
}

.texte {
  width: 55%;
  z-index: 1;
}

.nom {
  padding-top: 0;

    background: linear-gradient(90deg, rgba(100, 247, 217, 1) 0%, rgba(100, 247, 217, 1) 26%, rgba(175, 162, 255, 1) 72%);    /* Set the background size and repeat properties. */
    background-size: 100%;
    background-repeat: repeat;

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}

// ---------------MEDIA-QUERIES -------------------//@at-root
@media (max-width: 767px) {
  .accueil {
    padding: 7rem 0;
    flex-direction: column;
    min-height: 400px;
  }
  .texte {
    width: 100%;
  }
}
