$texte-clair: #e5e5e5;
$jaune: #ff9f1c;
$bleu-gris: #404e5c;
$black: #240046;
$rose: #d3c0cd;
$babyPowder: #fdfffc;
$vert: #41ead4;
$gris: #e5e5e5;
$border-triangle: solid transparent;
$gris-pale: #697b8d;
$mauve-pale: #afa2ff;
$aquamarine: #64F7D9;
$dark-blue: #0C0A3E;
