//TRIANGLES
.triangles {
  grid-column: 2/2;
  grid-row: 1/3;
  justify-self: center;
  align-self: start;
  position: relative;
}

.un {
  @include absolute;
  top: 5rem;
  left: 5rem;
  transform: rotate(5deg);
  border-left: 2rem $border-triangle;
  border-right: 2rem $border-triangle;
  border-bottom: 4rem solid $rose;
  animation: enlarge 10s infinite;
}

.deux {
  @include absolute;

  top: -3rem;
  transform: rotate(50deg);
  @include triangles;
  border-left: 3rem $border-triangle;
  border-right: 3rem $border-triangle;
  border-bottom: 5rem solid $vert;
  animation: enlargeTwo 10s infinite;
  animation-delay: 1s;
}

.trois {
  @include absolute;
  left: 1rem;
  top: 10rem;
  transform: rotate(160deg);
  @include triangles;
  border-left: 1.5rem $border-triangle;
  border-right: 1.5rem $border-triangle;
  border-bottom: 3rem solid $jaune;
  animation: enlargeThree 20s infinite;
}

.quatre {
  @include absolute;
  left: -7rem;
  top: 10rem;
  transform: rotate(-150deg);
  @include triangles;
  border-left: 4rem $border-triangle;
  border-right: 4rem $border-triangle;
  border-bottom: 7rem solid #697b8d;
  animation: reduceFour 10s infinite;
  animation-delay: 0.5s;
}

.cinq {
  @include absolute;
  top: 6rem;
  left: -4rem;
  transform: rotate(90deg);
  @include triangles;
  @include triangles;
  border-left: 1rem $border-triangle;
  border-right: 1rem $border-triangle;
  border-bottom: 2rem solid $rose;
  animation: enlargeFive 15s infinite;
  animation-delay: 2s;
}

//----------------------TRIANGLE ANIMATION ----------------------------------

@keyframes enlarge {
  0% {
    top: 5rem;
    left: 5rem;
    border-left: 2rem $border-triangle;
    border-right: 2rem $border-triangle;
    border-bottom: 4rem solid $rose;
  }
  50% {
    top: 3rem;
    left: 7rem;
    transform: rotate(90deg);
    border-left: 4rem $border-triangle;
    border-right: 4rem $border-triangle;
    border-bottom: 6rem solid $rose;
  }

  100% {
    left: 5rem;
    border-left: 2rem $border-triangle;
    border-right: 2rem $border-triangle;
    border-bottom: 4rem solid $rose;
  }
}

@keyframes enlargeTwo {
  0% {
    top: -3rem;
    border-left: 3rem $border-triangle;
    border-right: 3rem $border-triangle;
    border-bottom: 5rem solid $vert;
  }
  50% {
    transform: rotate(90deg);
    top: -5rem;
    border-left: 5rem $border-triangle;
    border-right: 5rem $border-triangle;
    border-bottom: 7rem solid $vert;
  }

  100% {
    top: -3rem;
    border-left: 3rem $border-triangle;
    border-right: 3rem $border-triangle;
    border-bottom: 5rem solid $vert;
  }
}

@keyframes enlargeThree {
  0% {
    left: 1rem;
    top: 10rem;
    border-left: 1.5rem $border-triangle;
    border-right: 1.5rem $border-triangle;
    border-bottom: 3rem solid $jaune;
  }
  50% {
    transform: rotate(90deg);
    left: 5rem;
    top: 13rem;
    border-left: 1rem $border-triangle;
    border-right: 1rem $border-triangle;
    border-bottom: 1.5rem solid $jaune;
  }

  100% {
    left: 1rem;
    top: 10rem;
    border-left: 1.5rem $border-triangle;
    border-right: 1.5rem $border-triangle;
    border-bottom: 3rem solid $jaune;
  }
}

@keyframes reduceFour {
  0% {
    top: 10rem;
    border-left: 4rem $border-triangle;
    border-right: 4rem $border-triangle;
    border-bottom: 7rem solid #697b8d;
  }
  50% {
    transform: rotate(-100deg);
    top: 14rem;
    border-left: 2rem $border-triangle;
    border-right: 2rem $border-triangle;
    border-bottom: 5rem solid #697b8d;
  }

  100% {
    top: 10rem;
    border-left: 4rem $border-triangle;
    border-right: 4rem $border-triangle;
    border-bottom: 7rem solid #697b8d;
  }
}

@keyframes enlargeFive {
  0% {
    left: -4rem;
    top: 6rem;
    border-left: 1rem $border-triangle;
    border-right: 1rem $border-triangle;
    border-bottom: 2rem solid $rose;
  }
  50% {
    transform: rotate(30deg);
    left: -8rem;
    top: 2rem;
    border-left: 2rem $border-triangle;
    border-right: 2rem $border-triangle;
    border-bottom: 4rem solid $rose;
  }

  100% {
    left: -4rem;
    top: 6rem;
    border-left: 1rem $border-triangle;
    border-right: 1rem $border-triangle;
    border-bottom: 2rem solid $rose;
  }
}

//--------------------BOUTON SCROLL-----------------------

.rond-fleche {
  position: relative;
  z-index: 1;
  margin: -2.5rem auto;
  background: $bleu-gris;
  border: 3px solid $jaune;
  width: 5rem;
  height: 5rem;
  padding: 4em 2em;
  border-radius: 50%;
  font-size: 0.5em;
  display: block;
  box-shadow: 0px 0px 5px 0px #333;
  transition: 0.5s ease-in-out;

  &:hover {
    margin: -2.8rem auto;
  }
}

.fleche {
  color: $jaune;
  font-size: 2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  &:hover {
    color: $gris;
  }
}

// ---------------------- MEDIA-QUERIES ------------------//

@media (max-width: 767px) {
  //gros rose
  .un {
    display: none;
  }

  .deux {
    //VERT

    display: none;
  }

  .trois {
    //JAUNE
    display: none;
  }

  .quatre {
    // GRIS
    display: none;
  }

  .cinq {
    display: none;
  }

  //--------------------BOUTON SCROLL-----------------------

  .rond-fleche {
    border: 2px solid $jaune;
    width: 4rem;
    height: 4rem;
    padding: 4em 2em;

    font-size: 0.4em;

    transition: 0.5s ease-in-out;

    &:hover {
      margin: -2.8rem auto;
      border-color: #fcaf58;
    }
  }

  .fleche {
    font-size: 1.5rem;
  }
}
