.accueil {
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: 1fr;
  min-height: 100%;
  width: 100%;
  padding: 10rem;
  background-color: $bleu-gris;
}

.texte {
  grid-column: 1/1;
  grid-row: 1/3;
  z-index: 1;
}

.nom {
  color: $jaune;
  padding-top: 0;
}

// ---------------MEDIA-QUERIES -------------------//@at-root
@media (max-width: 767px) {
  .accueil {
    padding: 4rem 4rem 8rem 4rem;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    min-height: 400px;
  }
}
