.projets {
  padding: 10rem 8rem;
  background-color: $gris;
  display: grid;
  grid-template-rows: 7;
  grid-template-columns: 1;
  row-gap: 6rem;

  p {
    color: $bleu-gris;
    padding-top: 3rem;
  }

  .techs {
    display: inline;
  }
}

.projets-img {
  height: auto;
  width: 90%;
}

.show-on-scroll-left {
  transition: transform 3s 0.25s cubic-bezier(0.075, 0.82, 0.165, 1),
    opacity 1s 0.25s ease-out;
  will-change: transform opacity;
  transform: translateX(-1rem);
  opacity: 0;
}

.show-on-scroll-right {
  transition: transform 3s 0.25s cubic-bezier(0.075, 0.82, 0.165, 1),
    opacity 1s 0.25s ease-out;
  will-change: width, opacity;
  transform: translateX(1rem);
  opacity: 0;
}

.is-visible-left {
  opacity: 1;
  transform: translateX(0);
}
.is-visible-right {
  opacity: 1;
  transform: translateX(0);
}

.lien {
  color: $bleu-gris;
  display: inline-block;
  padding: 1rem 0.5rem;
}

//---------PLANTIES PROJECT---------//
.planties {
  display: grid;
  grid-template-rows: 2;
  grid-template-columns: 2;
  column-gap: 3rem;
  grid-row: 2/3;
  grid-column: 1/2;

  img {
    grid-row: 1/2;
    grid-column: 1/1;
    align-self: center;
    margin-bottom: 1.5rem;
  }

  .planties-texte {
    grid-row: 1/1;
    grid-column: 2/2;
    align-self: center;
    margin-bottom: 1rem;
  }
}

//CRISM PROJECT
.crism {
  display: grid;
  grid-template-rows: 2;
  grid-template-columns: 2;
  column-gap: 3rem;
  grid-row: 3/4;

  img {
    grid-row: 1/2;
    grid-column: 2/2;
    align-self: center;
    margin-bottom: 1.5rem;
  }

  .crism-texte {
    align-self: center;
    margin-bottom: 1rem;
  }
}

//FRONT-END MENTOR CHALLENGES
.landing {
  display: grid;
  grid-template-rows: 2;
  grid-template-columns: 2;
  column-gap: 3rem;
  grid-row: 4/5;
  grid-column: 1/2;

  img {
    grid-row: 1/2;
    grid-column-start: 1/1;
    align-self: center;
    margin-bottom: 1.5rem;
  }

  .landing-texte {
    grid-row: 1/2;
    grid-column: 2/2;
    align-self: center;
    margin-bottom: 1rem;
  }
}

.tech {
  color: $gris-pale;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  margin-left: 0.5rem;
}

// ------------ MEDIA-QUERIES ------------ //
@media (max-width: 767px) {
  .projets {
    padding: 5rem 4rem;
  }

  .show-on-scroll-right {
    transform: translateX(0);
  }

  .is-visible-left {
    transform: translateX(0);
  }
  .is-visible-right {
    transform: translateX(0);
  }

  .show-on-scroll-left {
    transform: translateX(0);
  }

  .site {
    padding: 1rem 0;
  }

  .tech {
    margin-left: 0;
  }
}

@media (max-width: 1023px) {
  .projets {
    row-gap: 2rem;

    p {
      padding-top: 1rem;
    }
  }

  .planties {
    grid-template-rows: 3;
    grid-template-columns: 1;
    grid-row: 2/3;
    grid-column: 1/2;

    img {
      grid-row: 2/3;
      grid-column: 1/1;
    }

    .planties-texte {
      grid-row: 1/1;
      grid-column: 1/1;
    }
  }

  .crism {
    grid-template-rows: 3;
    grid-template-columns: 1;

    img {
      grid-row: 2/3;
      grid-column: 1/1;
      align-self: center;
    }

    .crism-texte {
      align-self: center;
    }
  }

  .landing {
    grid-template-rows: 3;
    grid-template-columns: 1;

    img {
      grid-row: 2/3;
      grid-column: 1/1;
    }

    .landing-texte {
      grid-row: 1/1;
      grid-column: 1/1;
    }
  }
}
