.skills {
  padding: 10rem 8rem;
  background-color: $bleu-gris;

  @media (max-width: 767px) {
    padding: 5rem 4rem;
  }
}
.comp {
  margin: 2rem 0;
  grid-row: 1/1;
  grid-column: 2/4;
  color: $jaune;
  text-align: center;
}
.container {
  max-width: 70%;
  margin: 1rem auto;
  @media (max-width: 767px) {
    max-width: 100%;
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 4fr));
  gap: 1rem;
  @media (max-width: 767px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }

  .logo {
    background: $gris;
    padding: 4rem;
    position: relative;
    border-radius: 0.3rem;
    transition: all 0.2s ease-in;
    filter: grayscale(80%);
    @media (max-width: 767px) {
      filter: grayscale(0%);
    }

    img {
      height: 3rem;
      width: auto;
      position: absolute;
      top: 50%;
      left: 50%;
      max-width: 100%;
      transform: translate(-50%, -50%);
    }

    &:hover {
      transform: translateY(-5px);
      opacity: 1;
      filter: none;
      @media (max-width: 767px) {
        transform: translateY(0px);
        opacity: 1;
        filter: none;
      }
    }
  }
}

#mongo {
  @media (max-width: 767px) {
    height: 2rem;
  }
}
